<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--包扫描,只要标注了@controller ,@service @repository @component ,use-default-filters显示true,默认扫描所有,false时候,使用自己的规则-->
<!--
    <context:component-scan base-package="com.wangshao" use-default-filters="false"></context:component-scan>
-->
    <bean  id="person" class="com.wangshao.bean.Person" init-method="toString" destroy-method="toString">
        <property name="name" value="张三"/>
        <property name="age" value="18"/>
    </bean>
</beans><!---->